openapi: 3.2.0
info:
  title: Whisper Query API
  summary: Identity and safe egress for AI agents, and the security graph behind it.
  description: Every endpoint described here was exercised live before this document was written.
  version: 1.1.0
  contact:
    name: Whisper Security
    url: https://whisper.online
  license:
    name: Proprietary
    url: https://whisper.online/terms
servers:
- url: https://whisper.online
  description: The main site, verification, and the ledger
tags:
- name: Query
paths:
  /api/query:
    servers:
    - url: https://graph.whisper.online
      description: The control plane and graph front door
    post:
      summary: 'The one Cypher endpoint: graph reads, and the entire control plane'
      description: 'Keyless for graph reads (`CALL whisper.assess($a)`, `identify`, `walk`, `origins`, ...). With `X-API-Key` the same endpoint is the control plane: `CALL whisper.agents({op:''register''|''identity''|''connect''|''policy''|''logs''|''revoke''|''list''|..., args:{...}})`. Always bind values as parameters; never concatenate them into the query text.'
      operationId: query
      security:
      - {}
      - whisperApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              properties:
                query:
                  type: string
                parameters:
                  type: object
                timeout:
                  type: integer
                  description: Milliseconds.
            examples:
              keyless graph read:
                value:
                  query: CALL whisper.assess($a)
                  parameters:
                    a: example.com
              keyed control call:
                value:
                  query: CALL whisper.agents($a)
                  parameters:
                    a:
                      op: register
                      args:
                        label: my-agent
      responses:
        '200':
          description: columns / rows / statistics.
          content:
            application/json:
              schema:
                type: object
                properties:
                  columns:
                    type: array
                    items:
                      type: string
                  rows:
                    type: array
                    items:
                      type: object
                  statistics:
                    type: object
        '400':
          description: Malformed query, bad arguments, or an op outside the allowlist.
        '403':
          description: The key lacks the scope the op requires.
      tags:
      - Query
components:
  securitySchemes:
    whisperApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: A whisper_live_... key. Obtainable from an email address alone, with no human step; see /.well-known/agent-onboarding.json.
externalDocs:
  description: The full catalog, written for agents
  url: https://whisper.online/llms-full.txt
