openapi: 3.2.0
info:
  title: Whisper Verify Identity API
  summary: Identity and safe egress for AI agents, and the security graph behind it.
  description: Every endpoint described here was exercised live before this document was written.
  version: 1.1.0
  contact:
    name: Whisper Security
    url: https://whisper.online
  license:
    name: Proprietary
    url: https://whisper.online/terms
servers:
- url: https://whisper.online
  description: The main site, verification, and the ledger
tags:
- name: Verify Identity
paths:
  /verify-identity:
    get:
      summary: Verify an address is a real Whisper agent identity
      description: Keyless. Answers honestly for an address that is not, or is no longer, allocated rather than inventing a record.
      operationId: verifyIdentity
      security: []
      parameters:
      - name: address
        in: query
        required: true
        schema:
          type: string
        example: 2a04:2a01:aeee:42b6:41cc:e09:c971:41a1
      responses:
        '200':
          description: The verdict and its evidence.
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_whisper_agent:
                    type: boolean
                  evidence:
                    type: object
                  detail:
                    type: string
        '400':
          description: No address given.
      tags:
      - Verify Identity
components:
  securitySchemes:
    whisperApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: A whisper_live_... key. Obtainable from an email address alone, with no human step; see /.well-known/agent-onboarding.json.
externalDocs:
  description: The full catalog, written for agents
  url: https://whisper.online/llms-full.txt
